
.image{
    margin-left: 35%;
    margin-bottom: 0;
    width: 30%;
}

h2{
    margin-top: 3%;
    margin-left: 46%;
    font-size: x-large;
    color: blue;
}
.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .sticky-button button {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sticky-button button:hover {
    background-color: #0056b3;
  }