<<<<<<< HEAD
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -75px;
=======
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -75px;
>>>>>>> 3dba4be4813da7481605fd1bcdeba668f94b0735
}